.homeContentOne{
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0), 
        rgba(0,0,0,1)), 
        url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    .headerText {
        color: white;
        font-family: sans-serif;
        text-align: center;
        margin: 100px;
        h1{
            font-size: 300%;
        }
        h4{
            font-size: 300%;
        }
    }
}

.homeContentTwo {
    height: 100%;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    overflow: auto;
    background-color: rgba(255,177,1, .25);
    padding: 10px 0;
    p {
        font-size: 20px;
    }
    .imgOne {
        height: 50%;
        background-image: url(../images/scrunchies.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: auto;
        padding: 250px 0;
    }
    .imgTwo {
        height: 50%;
        background-image: url(../images/jewlery.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: auto;
        padding: 250px 0;
    }
    .imgThree {
        height: 50%;
        background-image: url(../images/stickers.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: auto;
        padding: 250px 0;
    }
    .imgFour {
        height: 50%;
        background-image: url(../images/prints.jpeg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: auto;
        padding: 250px 0;
    }
    .contentOne{
        float: left;
        height: 100%;
        width: 25%;
        padding: 50px;
        border-right: 1px solid black;
    }
    .contentTwo{
        float: left;
        height: 100%;
        width: 25%;
        padding: 50px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .contentThree{
        float: left;
        height: 100%;
        width: 25%;
        padding: 50px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .contentFour{
        float: left;
        height: 100%;
        width: 25%;
        padding: 50px;
        border-left: 1px solid black;
    } 
    @media only screen and (max-width:1200px) {
        .contentOne, .contentTwo, .contentThree, .contentFour {
            width: 50%;
            height: 50%;
        }
        .contentOne {
            border-bottom: 1px solid black;
        }
        .contentTwo {
            border-bottom: 1px solid black;
            border-right: none;
        }
        .contentThree{
            border-top: 1px solid black;
            border-left: none;
        }
        .contentFour {
            border-top: 1px solid black;
        }
        .imgOne{
            background-position-y: 50%;
            padding: 75px 0;
        }
        .imgTwo{
            background-position-y: 70%;
            padding: 75px 0;
        }
        .imgThree{
            background-position-y: 50%;
            padding: 75px 0;
        }
        .imgFour{
            background-position-y: 75%;
            padding: 75px 0;
        }
    }
    @media only screen and (max-width:720px) {
        .contentOne, .contentTwo, .contentThree, .contentFour {
            width: 100%;
            height: 25%;
            padding: 65px 0;
        }
        .contentOne {
            border-right: none;
        }
        .contentTwo {
            border-top: 1px solid black;
            border-left: none;
        }
        .contentThree{
            border-bottom: 1px solid black;
            border-right: none;
        }
        .contentFour{
            border-left: none;
        }
        p {
            display: none;
        }
        .imgOne{
            display: none;
        }
        .imgTwo{
            display: none;
        }
        .imgThree{
            display: none;
        }
        .imgFour{
            display: none;
        }
    }
}

.homeContentThree {
    height: 100%;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    background-color: rgba(255,177,1, .5);
    padding: 50px;
    padding-bottom: 200px;
    h1{
        font-size: 300%;
    }
    p{
        font-size: 150%;
    }
}

.homeContentFour {
    min-height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255,177,1, .25);
    display: flex;
    padding: 10px 20px;
    padding-bottom: 150px;
    h1 {
        text-align:center;
    }
    p{
        font-size: 120%;
    }
    .policies{
        float: left;
        height: 100%;
        width: 50%;
        padding: 20px;
        border-right: 1px solid black;
    }
    .faq {
        float: left;
        height: 100%;
        width: 50%;
        padding: 20px;
        border-left: 1px solid black;
    }
    @media only screen and (max-width: 900px) {
        .policies{
            width: 100%;
            height: 50%;
            border-bottom: 1px solid black;
            border-right: none;
        }
        .faq {
            width: 100%;
            height: 50%;
            border-top: 1px solid black;
            border-left: none;
        }
    }
}